@{
    Layout = null;
}
<!doctype html>
<html class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>结果详情</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="/css/lawMobile.css">
    <script type="text/javascript">basePath = "http://www.kuaicha.info:80/"</script>
</head>
<body>
    <div class="cbody">
        <div class="result_details">
            <div class="header">
                <p>结果详情</p>
                <a class="ico-back" href="history.back()"></a>
            </div>
            <div style="margin: 15px;"></div>
            @RenderPage("P2PPartial.cshtml")
        </div>
    </div>
</body>
</html>
