<div class="footer-wrap">
    <div class="footer ">
        <ul class="footer-nav">
            <li class="footer-nav-items footer-nav-title">帮助中心</li>
            <li class="footer-nav-items"><a href="#">常见问题</a></li>
            <li class="footer-nav-items"><a href="#">删除信息</a></li>
        </ul>
        <ul class="footer-nav">
            <li class="footer-nav-items footer-nav-title">关于我们</li>
            <li class="footer-nav-items"><a href="/about">提供的服务</a></li>
            <li class="footer-nav-items"><a href="/about">联系我们</a></li>
        </ul>
        <ul class="footer-nav">
            <li class="footer-nav-items footer-nav-title">黑名单列表</li>
            <li class="footer-nav-items"><a href="#">法院公布黑名单</a></li>
            <li class="footer-nav-items"><a href="">P2P网贷黑名单</a></li>
            <li class="footer-nav-items"><a href="">私人举报黑名单</a></li>
        </ul>
        <ul class="contact-nav">
            <li class="contact-nav-items contact-nav-title">联系方式</li>
            <li class="contact-nav-items">客服QQ群：<span>304539080</span></li>
            <li class="contact-nav-items" style="position:relative;">
                在线咨询QQ：<span>121979164</span>
                <a href="http://wpa.qq.com/msgrd?v=3&site=点击查询&menu=yes&uin=121979164" title="点击咨询">
                    <span class="ico-qq" title="在线QQ咨询"></span>
                </a>
            </li>
            <li class="contact-nav-items">客服热线：<span>400-088-7296</span></li>
            <li class="contact-nav-items">技术支持邮箱：<span>121979164@qq.com</span></li>
            <li class="contact-nav-items">商务合作邮箱：<span>390015600@qq.com</span></li>
        </ul>
        <div class="erweima"><img src="/images/erweima.png" /></div>
    </div>
    <div class="clear"></div>
    <div class="copy-right-wap">
        <div class="cbody copy-right">
            <span style="padding-right:15px;">版权所有&copy;2012千久汇电子商务有限公司</span>
            <span>	粤ICP备15069453号-1</span>
        </div>
    </div>
</div>